#footer
{

  /* background-color : #CCCC99; */
 background-color : #D6CDAB; 
clear: both;

}

#img
{
width : 400%;
margin-left : 40%;
margin-bottom : 5%;
}
#okbutton
{
  background-color: #442D28;
color: #FFF

}

#contact-us
{
padding-top: 5% ;
padding-left: 80px;
color: #FFF
}

#sitemap
{

padding-top: -50px ;
padding-left: 80px;
color: #FFF

}

#des

{
  padding-left : 70px;
  color : #FFF ;
}

#footer-email-bar
{
	padding-bottom:30px;
}



.footerlink{
 color: white;;
}

#footer-middle{
  margin-top: 12%;
  margin-left :35%;
}

/* social */

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
    
#footer-socialmedia
{
  margin-top: 20px;
  margin-bottom: 100px;
}

/* endsocial */